@charset "UTF-8";
:root {
  /* colors */
  --brand-color: #2196F3;
  --logo-color: #000000;
  --text-first: #212121;
  --text-second: #757575;
  --text-third-tlbgc: #FFFFFF;
  --header-line: #ECECEC;
  --bgc-ourcom: #F5F4FA;
  --bgc-foot-hero: #2F303A;
  --adress-link: rgba(255, 255, 255, 0.6);
  --border-card: #EEEEEE;
  --portfolio-bgc: #E5E5E5;
  --bgc-image-hero: #C4C4C4;
  --social-icons: #AFB1B8;
  --footer-icon-bgc:
  rgba(255, 255, 255, 0.1);
  --modal-close-border:rgba(0, 0, 0, 0.1);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --checkbox-color:rgba(117, 117, 117, 0.5);
  /* Властивості ховеру та фокусу: */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", "Ralewey", "sans-serif";
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-style: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-third-tlbgc);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  border: 1px transparent;
  border-radius: 4px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.logo__text-web--modificator {
  color: var(--brand-color);
  font-size: 26px;
}

.logo__text-studio--modificator {
  color: var(--logo-color);
  font-size: 26px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--bgc-foot-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-third-tlbgc);
  letter-spacing: 0.03em;
}
.footer__input::-webkit-input-placeholder {
  color: var(--adress-link);
}
.footer__input::-moz-placeholder {
  color: var(--adress-link);
}
.footer__input:-ms-input-placeholder {
  color: var(--adress-link);
}
.footer__input::-ms-input-placeholder {
  color: var(--adress-link);
}
.footer__input::placeholder {
  color: var(--adress-link);
}

.footer-btn {
  padding-left: 29px;
  margin: 0;
}

.footer__button-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  scale: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--text-third-tlbgc);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.x-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-close-border);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.x-button:hover, .x-button:focus {
  color: var(--brand-color);
}

.x-icon {
  fill: currentColor;
}

.x-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal {
  padding: 40px;
}

.modal-headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.inputs {
  margin-bottom: 10px;
}

.input-window {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  cursor: pointer;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.input-window:focus, .input-window:hover {
  border-color: var(--brand-color);
}
.input-window:focus + .svg-modal, .input-window:hover + .svg-modal {
  fill: var(--brand-color);
}

.labelsvg {
  position: relative;
}

.svg-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.comments {
  margin-bottom: 20px;
}

.input-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-second);
  margin-bottom: 4px;
}

.modal-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-textarea::-webkit-input-placeholder {
  color: var(--checkbox-color);
}
.modal-textarea::-moz-placeholder {
  color: var(--checkbox-color);
}
.modal-textarea:-ms-input-placeholder {
  color: var(--checkbox-color);
}
.modal-textarea::-ms-input-placeholder {
  color: var(--checkbox-color);
}
.modal-textarea::placeholder {
  color: var(--checkbox-color);
}

.checkbox {
  margin-bottom: 30px;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 423px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-second);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-form-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid var(--text-first);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
  -webkit-transition: outline var(--anim);
  transition: outline var(--anim);
  fill: transparent;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.input-checkbox:checked + .modal-form-checkbox {
  background-color: var(--brand-color);
  outline: var(--brand-color);
}

.checkbox-link {
  display: inline-block;
  margin-left: 3px;
  color: var(--brand-color);
}

.button-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  border: 0px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-third-tlbgc);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid var(--header-line);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--text-third-tlbgc);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 0px;
  margin-right: 93px;
  font-size: 0px;
}

/* header-nav */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-first);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child):not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.nav__link:hover, .nav__link:focus {
  color: var(--brand-color);
}
.nav__link--current {
  color: var(--brand-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(1.6px);
          transform: translateY(1.6px);
}

.box-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-contacts__item {
  color: var(--text-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.box-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.box-contacts__mail,
.box-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.box-contacts__mail:hover, .box-contacts__mail:focus,
.box-contacts__phone:hover,
.box-contacts__phone:focus {
  color: var(--brand-color);
}

.box-contacts__icon {
  margin-right: 10px;
}
.box-contacts__icon--modificator {
  fill: currentColor;
}

.hero {
  background-color: var(--bgc-foot-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  min-height: 600;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-third-tlbgc);
  margin-bottom: 30px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

__ .features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__antenna::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/svg/зразки/antenna.svg);
  background-color: var(--bgc-ourcom);
  background-repeat: no-repeat;
  background-position: center;
}

.features__clock::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/svg/зразки/clock.svg);
  background-color: var(--bgc-ourcom);
  background-repeat: no-repeat;
  background-position: center;
}

.features__diagram::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/svg/зразки/diagram.svg);
  background-color: var(--bgc-ourcom);
  background-repeat: no-repeat;
  background-position: center;
}

.features__astronaut::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/svg/зразки/astronaut.svg);
  background-color: var(--bgc-ourcom);
  background-repeat: no-repeat;
  background-position: center;
}

.features__title {
  color: var(--text-first);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  color: var(--text-second);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.activity {
  padding-top: 0px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activity__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activity__item {
  position: relative;
}

.activity__label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-third-tlbgc);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bgc-ourcom);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-third-tlbgc);
}

.team__caption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__teamcard {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  color: var(--text-second);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  margin-bottom: 16px;
}

.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-unit:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--text-third-tlbgc);
  border-radius: 50%;
  fill: var(--social-icons);
  -webkit-transition: fill var(--anim), background-color var(--anim);
  transition: fill var(--anim), background-color var(--anim);
}
.team__link:hover, .team__link:focus {
  background-color: var(--brand-color);
  fill: var(--text-third-tlbgc);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--social-icons);
  border: 1px solid var(--social-icons);
  border-radius: 4px;
  -webkit-transition: fill var(--anim), border var(--anim);
  transition: fill var(--anim), border var(--anim);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.project__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.project__items:not(:last-child) {
  margin-right: 8px;
}

.project__button {
  color: var(--text-first);
  background-color: var(--bgc-ourcom);
  border: 0px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.project__button:hover, .project__button:focus {
  background-color: var(--brand-color);
  color: var(--text-third-tlbgc);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-third-tlbgc);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.project__link:hover .project__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project__text {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-bgc);
  border-left: 1px solid var(--portfolio-bgc);
  border-bottom: 1px solid var(--portfolio-bgc);
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__type {
  color: var(--text-second);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.footer {
  background-color: var(--bgc-foot-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__contacts {
  width: 231px;
  margin-right: 70px;
}

.footer__logo {
  padding: 0px;
  margin-bottom: 20px;
  font-size: 0px;
}

.logo__studio-footer--modificator {
  color: var(--text-third-tlbgc);
  font-size: 26px;
}

.adress__text {
  color: var(--text-third-tlbgc);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.adress__link {
  display: inline-block;
  color: var(--adress-link);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.footer__social {
  margin-right: 93px;
}

.footer__subtitle {
  display: block;
  color: var(--text-third-tlbgc);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-networks:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon-bgc);
  border-radius: 50%;
  fill: var(--text-third-tlbgc);
  -webkit-transition: fill var(--anim), background-color var(--anim);
  transition: fill var(--anim), background-color var(--anim);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--brand-color);
  fill: var(--text-third-tlbgc);
}

.footer__subscription {
  width: 570px;
  height: 86px;
}/*# sourceMappingURL=main.css.map */