.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 0px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;  
}


.logo__text-web--modificator{
    color:var(--brand-color);
    font-size: 26px;
}

.logo__text-studio--modificator{
    color:var(--logo-color);
    font-size: 26px;
}