html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family:'Roboto','Ralewey','sans-serif';
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;  
    color: #212121; 
    margin: 0;    
}

// бо закону треба в папку вендорз
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
img{
    display: block;
}