:root{
    /* colors */
    --brand-color: #2196F3;
    --logo-color: #000000;
    --text-first: #212121;
    --text-second: #757575;
    --text-third-tlbgc: #FFFFFF;
    --header-line: #ECECEC;
    --bgc-ourcom: #F5F4FA; 
    --bgc-foot-hero: #2F303A;
    --adress-link: rgba(255, 255, 255, 0.6);
    --border-card: #EEEEEE;
    --portfolio-bgc: #E5E5E5;
    --bgc-image-hero: #C4C4C4;
    --social-icons: #AFB1B8;
    --footer-icon-bgc: 
    rgba(255, 255, 255, 0.1);
    --modal-close-border:rgba(0, 0, 0, 0.1);
    --btn-shadow: rgba(0, 0, 0, 0.15);
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --checkbox-color:rgba(117, 117, 117, 0.5);
/* Властивості ховеру та фокусу: */
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}