.team{
    background-color: var(--bgc-ourcom);
}


.team__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em; 
    margin-bottom: 50px;
}

.team__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
} 
.team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--text-third-tlbgc);
}

.team__caption{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__teamcard{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__text{
    color: var(--text-second);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-bottom: 16px;
}
.team__links{
    display: flex;
    justify-content: center;
}

.team-unit:not(:last-child){
    margin-right: 10px;
}

.team__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--text-third-tlbgc);
    border-radius: 50%;
    fill: var(--social-icons);
    transition: fill var(--anim),
    background-color var(--anim);
    &:hover,
    &:focus{
    background-color: var(--brand-color);
    fill: var(--text-third-tlbgc);
}
}


